<h1><%= @vendor.name %></h1>

<h2>Sweets Sold:</h2>
<ul>
  <% @vendor.sweets.uniq.each do |sweet|  %>
    <li><%= link_to sweet.name, sweet_path(sweet.id) %></li>
  <% end %>
</ul>

<h2> Comments </h2>
<ul>
  <% @vendor.vendor_sweets.each do |vs| %>
  <li><%= vs.comment %></li>
  <% end %>
</ul>

<h2> Add Sweets and Comments </h2>

<%= form_for @vendor_sweet do |f| %>
    <%= f.hidden_field :vendor_id %>
    <%= f.label "Select Sweet"%><br>
    <%= f.collection_select :sweet_id, Sweet.all, :id, :name %><br><br>
    <%= f.label "New Comment" %><br>
    <%= f.text_field :comment%><br>
    <%= f.submit %>
<% end %>
